<div class="media-video" oncontextmenu="return false;">
<%= video_tag("webvideo.mp4") %></div>
<div class="container" >
<%= link_to"VioJar", root_path, class: "logo" %>
<div class="hover playpausebtn">
<div class="front"> 
  <div class="word">
    <h4 class="lead">Start</h4>
    <h4 class="lead">Comienzo</h4>
    <h4 class="lead">प्रारंभ</h4>
    <h4 class="lead">بداية</h4>
    <h4 class="lead">Begin</h4>
    <h4 class="lead">Fillim</h4>
    <h4 class="lead">սկիզբ</h4>
    <h4 class="lead">Irteeran</h4>
    <h4 class="lead">пачатак</h4>
    <h4 class="lead">শুরু</h4>
    <h4 class="lead">početak</h4>
    <h4 class="lead">начало</h4>
    <h4 class="lead">començament</h4>
    <h4 class="lead">pagsugod</h4>
    <h4 class="lead">开始</h4>   
    <h4 class="lead">התחלה</h4>
    <h4 class="lead">प्रारंभ</h4>
    <h4 class="lead">pib</h4>
    <h4 class="lead">kezdet</h4>
    <h4 class="lead">byrjun</h4>
    </div>
   </div>
    <div class="pulsar"></div>
    <div class="back"><div class="triangle-right"></div></div> 
</div>
<div class="sub-container">
 <div class="container-fluid">
  <div class="row">
   <div class="dp1"><div class="col-md-4"> Who We Are</div></div>
     <div class="dp2"><div class="col-md-4">The Unstoppables</div></div>
      <div class="dp3"><div class="col-md-4"> Subscribe</div></div>
     <span class="content1">we want to change people wahct videos </span>
      <span class="content2">2 </span>
       <span class="content3">3 </span>
   </div>
  </div>
 </div>
</div>





